.man{
    justify-content: center;
    align-items: center;
    display: flex;
}
.navbar-brand{
    display: flex;
}
/* *{
    margin: 1rem !important;
    padding: 0 !important;
} */

.py-5{
    margin: 0 !important;
}
.my-5 {
    margin-top: 0 !important ;
    margin-bottom: 0 !important;
}